@if (Request.IsAuthenticated) {
    <li>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
    </li>
    if (Roles.IsUserInRole("StoreManager"))
    {
        <li>@Html.ActionLink("Manage Store", "Index", "StoreManager")</li>
        <li>@Html.ActionLink("Manage Users", "Index", "UserManager")</li>
        <li>@Html.ActionLink("Manage Groups", "Index", "GroupManager")</li>
    }
    foreach (OktaProviders.OktaAppLink app in ((OktaProviders.OktaIdentity)User.Identity).Apps)
    {
        <li><a href="@(app.linkUrl)">@(app.label)</a></li>
    }
    <li>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
    </li>
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}