@model Mvc4MusicStore.Models.StoreUser

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Cancel", "Index")
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Html.DisplayFor(model => model.userName)</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.isManager)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.isManager)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.recordLabel)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RecordLabel", String.Empty) 
        </div>
        <input type="submit" value="Update" />
    </fieldset>
}
@Html.ActionLink("Delete User", "Delete", new { username = @Model.userName })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}